@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.container {
  height: 10vh;
  background-color: #043873;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
}

li {
  padding-left: 20px;
}

.hero-section {
  height: 90vh;
  background-color: #043873;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  /* flex-wrap: wrap; */
}

.hero-heading {
  font-size: 40px;
  width: 70%;
}

.hero-para {
  padding: 20px 0;
}

button {
  background-color: skyblue;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-image img {
  height: 15rem;
}

.cards-section {
  height: 60vh;
  background-color: white;
  color: black;
}
.cards-section h2 {
  text-align: center;
}
.cards-container {
  display: flex;
  gap: 20px;
  margin-top: 4rem;
  justify-content: center;
}
.card {
  height: auto;
  width: 20rem;
  border: 0.1px solid black;

  padding: 26px;
}
.card-2 {
  height: auto;
  width: 20rem;
  border: 0.1px solid black;
  padding: 26px;
  background-color: skyblue;
}
.card-3 {
  height: auto;
  width: 20rem;
  background-color: blueviolet;
  border: 0.1px solid black;
  padding: 26px;
}
.card-user-container {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.card-text {
  font-weight: 200;
  font-size: 14px;
  margin-top: 20px;
}
.card-user-text {
  margin-left: 10px;
}
.card-user-text {
  font-weight: 200;
  font-size: 14px;
}
.card-user-heading {
  font-size: 18px;
}
.card-img {
  height: 50px;
}
.hero-section2 {
  background-color: whitesmoke;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: black;
}

.heading {
  font-size: 45px;
  width: 70%;
}

.paragraph {
  padding: 20px 0;
}

.project-image img {
  height: 15rem;
}

/* download section */

.download-section {
  background-color: #043873;
  height: 60vh;
  color: whitesmoke;
  /* display: flex;
  /*justify-content: center;
  align-items: center; */
}

.download-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2;
}
.download-info h2 {
  font-size: 45px;
  padding-top: 3rem;
}

.os-download-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 40px;
}
footer {
  height: 50vh;
  background-color: grey;
  padding-top: 3rem;
}
.footer-menus {
  display: grid;
  grid-template-columns: 20rem auto auto auto auto;
}
@media screen and (max-width: 920px) {
  .hero-section {
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
  }
  .hero-image img {
    height: 12rem;
  }

  .hero-heading {
    font-size: 26px;
    width: 100%;
  }

  .hero-section2 {
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    height: 80vh;
  }
  .project-image {
    height: 12rem;
  }

  .heading {
    font-size: 26px;
    width: 100%;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;

    /* padding: 2rem; */
  }
  .cards-section {
    padding: 2rem;
    height: fit-content;
  }
}

@media screen and (max-width: 480px) {
}
